# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:7.10

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: npm install

      # run tests!
      - run: yarn build
      - store_artifacts:
          path: build
      - run:
            name: Jest Suite
            command: yarn run test-ci
            environment:
              JEST_JUNIT_OUTPUT: "reports/junit/js-test-results.xml"
      - run: yarn run codecov

      - setup_remote_docker

      - run: |
                TAG=0.1.$CIRCLE_BUILD_NUM
                docker build -t   durgaprasadbudhwani/react-material-resume:$TAG .      # (4)
                docker login -u $DOCKER_USER -p $DOCKER_PASS         # (5)
                docker push durgaprasadbudhwani/react-material-resume:$TAG

      - store_test_results:
          path: reports/junit
      - store_artifacts:
          path: reports/junit


